<div class="container">
    <br>
    <h1>Lugares donde se ha laborado</h1>
    <hr style="color:silver;">
    <td>
        <h2>Ogoo Ingenieria En Software</h2>
        <tr>
            <td style="padding-left: 10rem;">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-secondary " data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Ogoo
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="background-color: black;">
                                Ayudé en los proyectos que se realizaba en la empresa como el desarrollo de web y a la <br>
                                vez me capacitan para el aprendizaje de nuevas tecnologías como Laravel, PHP, <br>
                                JavaScript, Ionic y Angular. <br>
                                Desarrollé funciones como el diseño de las páginas web y sus funciones que va tener el <br>
                                sitio web. <br>
                                Realicé parte de la codificación de la parte del servidor con PHP y Laravel para el <br>
                                control de las bases de datos. <br>
                                Aprendí a manejar el framework de Ionic en el diseño de las páginas web con HTML ,CSS y <br>
                                JavaScript.
                            </div>
                            <div class="modal-footer">
                                <p style="color:slategrey;">Sitio <a href="https://ogoo.mx/">Ogoo</a></p>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
    </td>

</div>