<link rel="shortcut icon" href="assets/contacs.png">
<div class="container">

    <label for="Nombre">Nombre:</label>
    <p style="color:cadetblue;">Ingeniero En Telematica Jose Carlos Gonzalez Ramirez</p>
    <label for="Ubicacion">Ubicacion:<br><img src="assets/marcador-de-ubicacion.png" width="30" height="30"></label>
    <br>
    <a href="https://goo.gl/maps/DWiQ9VWECCNrUpgu9" style="color:cadetblue;" >Cofradia De Suchitlan,Comala,Colima,Mexico.</a>
    <br>
    <label for="Telefono">Telefono De Contacto:<br><img src="assets/iphone.png" width="30" height="30"></label>
    <br>
    <a href="https://wa.me/523121007677" style="color:cadetblue;" >+52 312-100-7677</a>
    <br>
    <label for="Linkenid">Linkedin:<br><img src="assets/linkedin(1).png" width="30" height="30"></label>
    <br>
    <a href="https://www.linkedin.com/in/josecarlosg68" style="color:cadetblue;">Josecarlosg68</a>
    <br>
    <label for="github">GitHub:<br><img src="assets/github.png" width="30" height="30"></label>
    <br>
    <a href="https://github.com/CarlosGonzalez88" style="color:cadetblue;">CarlosGonzalez88</a>
    <br>
    <label for="Email">Correo Electronico:<br><img src="assets/gmail.png" width="30" height="30"></label>
    <p style="color:cadetblue;">jcarlosgonzalez086@gmail.com</p>
    <label for="">Envia tu email para mas info:&nbsp;</label>
    <input type="email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="tuemail@email.com">
    <br>
    <br>
    <button type="button" class="btn btn-outline-success">ENVIAR</button>

     
</div>