<div class="container">
    <br>
    <h1>Soluciones que ofrecemos</h1>
    <hr>
    <table>
        <tr>
            <td>
                Sistemas de inventario
            </td>

            <td style="padding-bottom: 10px; padding-left: 13rem;">
                <!-- Button trigger modal -->
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="assets/captura-de-pantalla-2021-01-14-173419.png" width="200" height="100">
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel" style="color:slategrey;">Sistemas de
                                    inventario</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="background-color:black">
                                Es un sistema que te permite tener un control más fácil de tus artículos en tu negocio y
                                tenerlo más accesible a los empleados y a los jefes de una empresa o negocio
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                    style="color:black;">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                Paginas Web
            </td>
            <td style="padding-bottom: 10px; padding-left: 13rem;">
                <!-- Button trigger modal -->
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                    <img src="assets/Como-Crear-Una-Pagina-Web.jpg" width="200" height="100">
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color:slategrey;">Paginas Web
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="background-color: black;">
                                podemos crear la pagina web que tu necesites y con el diseno que tu deseés con las
                                tecnologias mas
                                actuales del mercado
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                    style="color: black;">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                Sitema De Punto De Venta
            </td>
            <td style="padding-bottom: 10px; padding-left: 13rem;">
                <!-- Button trigger modal -->
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                    <img src="assets/que-es-un-sistema-punto-de-venta-4.png" width="200" height="100">
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color:slategrey;">Sistema De
                                    Punto De Venta</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="background-color: black;">
                                es un sistema que te va permitir que tu negocio tenga un control de ventas de tus
                                productos o articulos
                                que ofreces y tengas una vision mas amplia de tu negocio
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                    style="color: black;">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Soporte tecnico <br> 
                en equipos computacionales
            </td>
            <td style="padding-bottom: 10px; padding-left: 13rem;">
                <!-- Button trigger modal -->
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal4">
                    <img src="assets/Soporte-.jpg" width="200" height="100">
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color:slategrey ;">Soporte Tecnico</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="background-color: black;">
                                Ofrecemos soluciones como en asistencia en problemas tecnicos en sistemas
                                computacionales,mantenimiento,instalacion de software,configuracion de equipos,reparacion y diagnostico.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="color: black;">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Desarrollo de Aplicaciones
            </td>
            <td style="padding-left: 13rem;">
                <!-- Button trigger modal -->
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal5">
                    <img src="assets/page-desarrollo-de-aplicaciones-moviles.jpg" width="200" height="100">
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color:slategrey ;">Desarrollo De Apliacaciones</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="background-color: black;">
                                Desarrollamos aplicaciones para cualquier tipo y en cualquier 
                                plataforma como Windows,iOS y Android.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="color: black;">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

    </table>
</div>