<br>
<div class="container">
    <h1>-Que tecnologías usamos en nuestro equipo de desarrollo-</h1>
    <hr style="color:aquamarine;">
    <td id="tecnologia">
        <tr>
            <td>
                <div style="padding-left:3rem;">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img src="assets/2048px-Angular_full_color_logo.svg.png" width="50" height="50">
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="color:rgb(54, 54, 54)">Angular</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="background-color:rgb(39, 37, 37);">
                                    Es un framework para aplicaciones web desarrollado en TypeScript, de código abierto,
                                    mantenido
                                    por Google,
                                    que se utiliza para crear y mantener aplicaciones web de una sola página.
                                    <br>
                                    <img src="assets/2048px-Angular_full_color_logo.svg.png" width="50" height="50">
                                    <p>Sitio&nbsp;<a href="https://angular.io/">Angular</a></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        style="background-color: red;">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div style="padding-left:2rem;">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal11">
                        <img src="assets/1200px-HTML5_logo_and_wordmark.svg.png" width="50" height="50">
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="color:rgb(54, 54, 54)">HTML</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="background-color:rgb(39, 37, 37);">
                                    HTML, siglas en inglés de HyperText Markup Language,
                                    hace referencia al lenguaje de marcado para la elaboración de páginas web.
                                    <br>
                                    <img src="assets/1200px-HTML5_logo_and_wordmark.svg.png" width="50" height="50">
                                    <p>Sitio&nbsp;<a href="https://www.w3schools.com/html/">HTML</a></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        style="background-color: red;">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div style="padding-left:2rem;">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal22">
                        <img src="assets/250px-CSS3_logo_and_wordmark.svg.png" width="50" height="50">
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal22" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="color:rgb(54, 54, 54)">CSS</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="background-color:rgb(39, 37, 37);">
                                    CSS, en español «Hojas de estilo en cascada», es un lenguaje de diseño gráfico
                                    para definir y crear la presentación de un documento estructurado escrito en un
                                    lenguaje de marcado.
                                    <br>
                                    <img src="assets/250px-CSS3_logo_and_wordmark.svg.png" width="50" height="50">
                                    <p>Sitio&nbsp;<a href="https://www.w3schools.com/css/">CSS</a></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        style="background-color: red;">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div style="padding-left:2rem;">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal1">
                        <img src="assets/Unofficial_JavaScript_logo_2.svg.png" width="50" height="50">
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="color:rgb(54, 54, 54)">JavaScript</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="background-color:rgb(39, 37, 37);">
                                    Se utiliza principalmente del lado del cliente, implementado como parte de un
                                    navegador web
                                    permitiendo mejoras
                                    en la interfaz de usuario y páginas web dinámicas
                                    y JavaScript del lado del servidor (Server-side JavaScript o SSJS). Su uso en
                                    aplicaciones
                                    externas
                                    a la web.
                                    <br>
                                    <img src="assets/Unofficial_JavaScript_logo_2.svg.png" width="50" height="50">
                                    <p>Sitio&nbsp;<a href="https://www.javascript.com/">JavaScript</a></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        style="background-color: red;">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div style="padding-left:2rem;">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal2">
                        <img src="assets/Typescript_logo_2020.svg.png" width="50" height="50">
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="color:rgb(54, 54, 54)">TypeScript</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="background-color:rgb(39, 37, 37);">
                                    TypeScript extiende la sintaxis de JavaScript, por tanto cualquier código JavaScript
                                    existente
                                    debería funcionar
                                    sin problemas. Está pensado para grandes proyectos,
                                    los cuales a través de un compilador de TypeScript se traducen a código JavaScript
                                    original.
                                    <br>
                                    <img src="assets/Typescript_logo_2020.svg.png" width="30" height="30">
                                    <p>Sitio&nbsp;<a href="https://www.typescriptlang.org/">TypeScript</a></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        style="background-color: red;">Cerrar</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div style="padding-left:2rem;">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal3">
                        <img src="assets/1280px-Ionic_Logo.svg.png" width="50" height="50">
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="color:rgb(54, 54, 54)">Ionic</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="background-color:rgb(39, 37, 37);">
                                    Ionic es una estructura tecnológica (Framework) de código abierto que se utiliza en
                                    el
                                    desarrollo de
                                    aplicaciones móviles híbridas, es decir, se combinan el HTML5, CSS y JavaScript
                                    dando como resultado aplicaciones con una interfaz amigable e intuitiva para el
                                    usuario que
                                    luego se
                                    comercializan o descargan en plataformas como Android o IOs.
                                    <br>
                                    <img src="assets/1280px-Ionic_Logo.svg.png" width="130" height="30">
                                    <p>Sitio&nbsp;<a href="https://ionicframework.com/">Ionic</a></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        style="background-color: red;">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div style="padding-left:2rem;">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal4">
                        <img src="assets/e08d04999200f32b8e915df7e89b44c7.png" width="50" height="50">
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="color:rgb(54, 54, 54)">Bootstrap</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="background-color:rgb(39, 37, 37);">
                                    Bootstrap es un framework CSS utilizado en aplicaciones front-end — es decir, en la
                                    pantalla de
                                    interfaz con el
                                    usuario— para desarrollar aplicaciones que se adaptan a cualquier dispositivo.
                                    <br>
                                    <img src="assets/e08d04999200f32b8e915df7e89b44c7.png" width="50" height="50">
                                    <p>Sitio&nbsp;<a href="https://getbootstrap.com/">Bootstrap</a></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        style="background-color: red;">Cerrar</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div style="padding-left:2rem;">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal5">
                        <img src="assets/laravel.png" width="50" height="50">
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="color:rgb(54, 54, 54)">Laravel</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="background-color:rgb(39, 37, 37);">
                                    Laravel es un framework de PHP para ayudarnos en un tipo de desarrollo sobre
                                    aplicaciones
                                    escritas en este
                                    lenguaje de programación. Esté framework o más bien podría llamarlo compañero de
                                    ahora en
                                    adelante,
                                    nos ayuda en muchas cosas al desarrollar una aplicación, por medio de sus sistema de
                                    paquetes y
                                    de ser un
                                    framework del tipo MVC (Modelo-Vista-Controlador) da como
                                    resultado que podamos “despreocuparnos” (por así decirlo) en ciertas aspecto del
                                    desarrollo,
                                    cómo instanciar
                                    clases y métodos para usarlos en muchas partes de nuestra aplicación sin la
                                    necesidad de
                                    escribirlo y
                                    repetirlos muchas veces con lo que eso conlleva a la hora de modificar algo en el
                                    código.
                                    <br>
                                    <img src="assets/laravel.png" width="50" height="50">
                                    <p>Sitio&nbsp;<a href="https://laravel.com/">Laravel</a></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        style="background-color: red;">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div style="padding-left:2rem;">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal6">
                        <img src="assets/logo-composer-transparent.png" width="50" height="50">
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="color:rgb(54, 54, 54)">Composer</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="background-color:rgb(39, 37, 37);">
                                    Composer es un sistema de gestión de paquetes para programar en PHP el cual provee
                                    los formatos
                                    estándar
                                    necesarios para manejar dependencias y librerías de PHP.
                                    <br>
                                    <img src="assets/logo-composer-transparent.png" width="50" height="50">
                                    <p>Sitio&nbsp;<a href="https://getcomposer.org/">Composer</a></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        style="background-color: red;">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div style="padding-left:2rem;">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal7">
                        <img src="assets/PHP-logo.svg.png" width="50" height="50">
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="color:rgb(54, 54, 54)">PHP</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="background-color:rgb(39, 37, 37);">
                                    El código PHP suele ser procesado en un servidor web por un intérprete PHP
                                    implementado como un
                                    módulo,
                                    un daemon o como un ejecutable de interfaz de entrada común (CGI). En un servidor
                                    web, el
                                    resultado del código
                                    PHP interpretado y ejecutado —que puede ser cualquier tipo de datos,
                                    como el HTML generado o datos de imágenes binarias— formaría la totalidad o parte de
                                    una
                                    respuesta HTTP.
                                    <br>
                                    <img src="assets/PHP-logo.svg.png" width="50" height="50">
                                    <p>Sitio&nbsp;<a href="https://www.php.net/">PHP</a></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        style="background-color: red;">Cerrar</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div style="padding-left:2rem;">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal8">
                        <img src="assets/590px-Node.js_logo.svg.png" width="50" height="50">
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="color:rgb(54, 54, 54)">Nose.js</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="background-color:rgb(39, 37, 37);">
                                    Node.js es un entorno de tiempo de ejecución de JavaScript (de ahí su terminación en
                                    .js
                                    haciendo alusión al
                                    lenguaje JavaScript).
                                    Este entorno de tiempo de ejecución en tiempo real incluye todo lo que se necesita
                                    para ejecutar
                                    un programa
                                    escrito en JavaScript.
                                    <br>
                                    <img src="assets/590px-Node.js_logo.svg.png" width="50" height="50">
                                    <br>
                                    <p>Sitio&nbsp;<a href="https://nodejs.org/en/">Node.js</a></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        style="background-color: red;">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <br>
        <tr>
            <td style="padding-left:3rem;">
                <div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal12">
                        <img src="assets/1200px-MySQL.svg.png" width="50" height="50">
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="color:rgb(54, 54, 54)">MySQL</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="background-color:rgb(39, 37, 37);">
                                    MySQL permite almacenar y acceder a los datos a través de múltiples motores de
                                    almacenamiento, incluyendo InnoDB, CSV y NDB.
                                    MySQL también es capaz de replicar datos y particionar tablas para mejorar el
                                    rendimiento y la durabilidad.
                                    <br>
                                    <img src="assets/1200px-MySQL.svg.png" width="50" height="50">
                                    <p>Sitio&nbsp;<a href="https://www.mysql.com/">MySQL</a></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        style="background-color: red;">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>

            <td style="padding-left:2rem;">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal13">
                    <img src=" assets/ISO_C++_Logo.svg.png" width="50" height="50">
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal13" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color:rgb(54, 54, 54)">C++</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="background-color:rgb(39, 37, 37);">
                                C++ es un lenguaje de programación que proviene de la extensión del lenguaje C para que <br>
                                pudiese manipular objetos. A pesar de ser un lenguaje con muchos años, su gran potencia <br>
                                lo convierte en uno de los lenguajes de programación más demandados en 2019. <br>
                                <img src=" assets/ISO_C++_Logo.svg.png" width="50" height="50">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                    style="background-color: red;">Cerrar</button>

                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
    </td>
    <hr style="color:aquamarine;">
</div>