<div class="container">
    <br>
    <h1>Sobre Nosotros</h1>
    <hr style="color:tomato;">
    <td style="padding-left: 25rem;">
        <h2>Quienes somos</h2> 
        <tr>
            <td style="text-align:center;">
                Somos una startup que apenas va incursionando en el mundo <br>
                de desarrollo de software y web , somos un grupo de personas <br>
                jóvenes con la intención de ofrecer la mejor calidad de desarrollo <br>
                para el publico en general tenemos un gran compromiso con la sociedad <br>
                que nuestros servicios sean transparentes y profesionales como ellos <br>
                lo demandan y apagarnos a la leyes establecidas por el gobierno.
            </td>
        </tr>
    </td>

    <br>

    <td>
        <h2>Mision</h2> 
         <tr> 
            <td style="text-align:justify;">
                Contribuir al desarrollo tecnologico en la sociedad y brindar<br>
                nuevas herramientas para el avance tecnologico y economico. <br>
                Brinadar la confianza de nuestros clientes que se sientan seguros <br>
                de su informacion y comodos con nuestros servicios y productos.
            </td>
        </tr>
    </td>

    <td style="padding-left: 20rem;">
        <h2>Vision</h2> 
         <tr> 
            <td style="text-align:justify;">
                Contribuir al desarrollo tecnologico en la sociedad y brindar<br>
                nuevas herramientas para el avance tecnologico y economico. <br>
                Brinadar la confianza de nuestros clientes que se sientan seguros <br>
                de su informacion y comodos con nuestros servicios y productos.
            </td>
        </tr>
    </td>
    <br>
    <td style="padding-left: 25rem;">
        <h2>Valores</h2> 
         <tr> 
            <td style="text-align:center;">
                Honestidad ,Profesionalismo ,Inclusion ,Pasion y Innovacion 
            </td>
        </tr>
    </td>
</div>
